.sgw {
  .nav-right {
    margin-top: 0px;
  }

}
.swConfig{
  .inptgroup{
    input{
      display: inline-block;
      width: 45px;
      margin-left: 5px;
      border-radius: 4px;
       border:1px solid #d9d9d9
    }
  }
}
.inptgroup input::after{
  content:"为.";
  background-color: red;
  color:red;
}

//全局样式
.ant-form-item{
  margin-bottom: 10px;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
  padding: 13px 16px;
}
/*滚动条样式*/
.ant-table-body::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
.ant-table-body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.2);
  background: rgba(87,77,119,0.5);
}
.ant-table-body::-webkit-scrollbar-track {/*滚动条里面轨道*/
  //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  //border-radius: 0;
  background: none!important;//rgba(0,0,0,0.1);
}
.ant-table-fixed-right{
  .ant-table-row-level-0:nth-child(even){
    // background: #040F30;
  }
}

//.ant-table-header::-webkit-scrollbar {/*滚动条整体样式*/
//  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
//  height: 10px;
//}
//.ant-table-header::-webkit-scrollbar-track {/*滚动条里面轨道*/
//  //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
//  //border-radius: 0;
//  background: none//rgba(0,0,0,0.1);
//}
.ant-table-fixed-header{
  .ant-table-body-inner::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 10px;
  }
  .ant-table-body-inner::-webkit-scrollbar-track {/*滚动条里面轨道*/
    //-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    //border-radius: 0;
    background: none!important;//rgba(0,0,0,0.1);
  }
}

.swConfig {
  .ant-form-item-label{
    display: inline-block;
  }
  .ant-form-item-control{
    display: inline-block;
    line-height: 32px;
  }
  .ant-form-item-children {
    width: 100%;
    .react-ip-input {
      width: 100%;
      padding: 0;
      input {
        width: 47px;
        height:32px;
        line-height: 32px;
        border-radius: 4px 0 0 4px;
      }
    }
  }
}